body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

h1 {
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: -170px;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button {
    display: flex;
    justify-content: center;
    border: 2px;
    border-radius: 20px; /* Добавлено закругление */
    padding: 12px 30px; /* Добавлены отступы */
    background: #4CAF50; /* Цвет фона */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер текста */
    cursor: pointer; /* Курсор при наведении */
    transition: all 0.3s ease; /* Плавные переходы */
    border: none; /* Убираем границу */
}

button:hover {
    box-shadow: 0 0 25px floralwhite;
    transform: translateY(-2px);
    background: #45a049; /* Изменение цвета при наведении */
}